@import "modal";

.reduced-vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pointer-hand {
  cursor: pointer;
}

.covered {
  opacity: 0.5;
}

.is-extra-small {
  height: 2px;
}

.option-result {
  display: inline-block;
  width: 3rem;
}

.fa-check-square-o {
  transform: translate3d(0.1rem, 0, 0);
}
