@media (max-width: 768px) {
  .modal-card {
    -webkit-mask-image: -webkit-linear-gradient(45deg, black 0%, black 90%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0.3) 100%); }
  .modal-content {
    -webkit-mask-image: -webkit-linear-gradient(45deg, black 0%, black 90%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0.3) 100%); } }

.modal-card {
  max-height: 100vh;
  padding: 20px 0; }

.modal-content {
  max-height: 100vh;
  padding: 20px 0; }

.reduced-vertical-padding {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pointer-hand {
  cursor: pointer; }

.covered {
  opacity: 0.5; }

.is-extra-small {
  height: 2px; }

.option-result {
  display: inline-block;
  width: 3rem; }

.fa-check-square-o {
  transform: translate3d(0.1rem, 0, 0); }
